.header{
    display: flex;
    justify-content: center;
}

.menu-ul{
    padding-top: 10px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #fff;
    font-size: 20px;
}