.header{
    display: flex;
    justify-content: center;
}

.menu-ul{
    padding-top: 10px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.menu-a{
    color: #a7a7a7;
    transition: all 0.3s ease-in-out;
}

.menu-a:hover{
    text-decoration-line: underline;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.layout-main{
    display: flex;
    justify-content: center;
    height: 800px;
}

.layout-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.layout-h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.footer-layout{
    display: flex;
    justify-content: center;
}
